{% extends "base.html" %}
{% block maincontent %}
<h3>Open queues</h3>
<ul class="list-group">
{% for q in queues %}
<a href="{{url_for('show_queue', queue_name=str(q))}}"><li class="list-group-item">{{q}}</li></a>
{% endfor %}
</ul>
<br>
<h3>Registered workers</h3>
<table class="table table-condensed table-hover" id="workers">
    <tr>
        <th>Worker ID</th>
        <th>State</th>
        <th>Host</th>
        <th>Port</th>
        <th>Terminate</th>
        <th>Kill</th>
    </tr>
    {% for w in workers %}
    <tr>
        <td>{{w['worker_id']}}</td>
        <td>
            {% if w['state'] == 'working' %}
                working since {{ w['start'] }}
            {% else %}
                {{ w['state'] }}
            {% endif %}
        </td>
        <td>{{w['host']}}</td>
        <td>{{w['port']}}</td>
        <td>
            <form class="form-inline" action="/" method="POST">
                <input type="hidden" value="{{w['host']}}" name="host">
                <input type="hidden" value="{{w['port']}}" name="port">
                <input type="hidden" value="{{w['worker_id']}}" name="wid">
                <input type="hidden" value="terminate" name="severity">
                <button type="submit" class="btn btn-warning">Terminate</button>
            </form>
        </td>
        <td>
            <form class="form-inline" action="/" method="POST">
                <input type="hidden" value="{{w['host']}}" name="host">
                <input type="hidden" value="{{w['port']}}" name="port">
                <input type="hidden" value="{{w['worker_id']}}" name="wid">
                <input type="hidden" value="kill" name="severity">
                <button type="submit" class="btn btn-danger">Kill</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<!--
<script type="text/javascript">
    var eventSource = new EventSource('/subscribe/worker');

    eventSource.onmessage = function(e) {
        var state;
        if (e.data['state'] === "working") {
            state = "working since " + e.data['start'];
        }
        else { state = e.data['state']; }
        tab = $("#workers").append(
   '<tr>\n' + 
   '   <td>'+e.data['worker_id']+'</td>\n' +
   '   <td>\n' +
       state +
   '   </td>\n' +
   '   <td>e.host</td>\n' +
   '   <td>e.port</td>\n' +
   '   <td>\n' +
   '       <form class="form-inline" action="/" method="POST">\n' +
   '            <input type="hidden" value="'+e.data['host']+'" name="host">\n' +
   '            <input type="hidden" value="'+e.data['port']+'" name="port">\n' +
   '            <input type="hidden" value="'+e.data['worker_id']+'" name="wid">\n' +
   '            <input type="hidden" value="terminate" name="severity">\n' +
   '            <button type="submit" class="btn btn-warning">Terminate</button>\n' +
   '        </form>\n' +
   '    </td>\n' +
   '    <td>\n' +
   '        <form class="form-inline" action="/" method="POST">\n' +
   '            <input type="hidden" value="'+e.data['host']+'" name="host">\n' +
   '            <input type="hidden" value="'+e.data['port']+'" name="port">\n' +
   '            <input type="hidden" value="'+e.data['worker_id']+'" name="wid">\n' +
   '            <input type="hidden" value="kill" name="severity">\n' +
   '            <button type="submit" class="btn btn-danger">Kill</button>\n' +
   '        </form>\n' +
   '    </td>\n' +
   '</tr>'
    );
    };
</script>
-->        
{% endblock %}
